*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h1{
    font-size: 40px;
    border-radius: 2px solid black;
    border-radius: 10px;
}
form{
    padding: 20px ;
    
}
input{
    padding: 10px;
    border-radius: 10px;
}
button{
    padding: 10px;
    border-radius: 10px;
}
label{
    font: bolder;
    font-size: 25px;
    padding: 33px;
}