*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111;
    color: beige;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    border-radius: 20px ;
    padding: 22px ;
    font-weight: bolder;
}

